
@font-face{
  font-family: "DoHyeon-Regular";
  src: url("fonts/DoHyeon-Regular.ttf") format("ttf");
  font-weight: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#myVideo {
  object-fit: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}


.guitartatha{
  position: absolute;
  float: right;
  color: #f1f1f1;
  
}

/* for guitar tatha introduction heading (removed it) */
.contenthead {
  position: absolute;
  top: 5em;
  color: #f1f1f1;
  width: 100%;
  padding: 2%;
}
/* .content {
  position: absolute;
  top: 50%;
  background: rgba(0, 0, 0, 0.226);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
} */



.content{
  position: absolute;
  background-color: rgba(70, 243, 17, 0.644);
  float: none;
  margin: 1000px;
  font-size: relative;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  max-width: 1330px;
  padding:0px 60px 0px;
  margin: 4%;
  border: 10%;
  text-align: center;
}



/* navbar color*/
.container-fluid{
  background-color: rgba(41, 235, 73, 0.603)
}



.GTlogo{
height: 190%;
border-radius: 50%;
max-width:100%; 
margin-top: -7px;
}
h2{
  text-align: center;
}

p{
 
  padding-left: 0.8em;
}

body{
  background-color: rgb(177, 171, 171);
}



.authortatha {
  image-resolution: 100dpi;
  background-color: rgba(253, 253, 252, 0.514);
  margin: 1000px;
  font-size: smaller;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0);
  max-width: 350px;

  margin: auto;
  text-align: center;
}



.tathagtr {
  border-radius: 50%;
}

.abouthead {
 text-align: center;
 position: relative;
  top: 50;
  color: #a540e9dc;
  width: 100%;
  padding: 5px;
  margin: 0cm;
}


.aboutauthorblock{
  color: rgba(2, 2, 2, 0.911);
  font-weight: bold;
}


.aboutcontent {
  position: fixed;
  bottom: 10;
  background: rgba(54, 54, 54, 0);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}